<div class="general-secretary-page">
  <div class="container">
    <div class="flex flex-col ai-c gap-25 my-10">
      <h2 *ngIf="isDirRTL">معالي الأمين العام / محمدي احمد الني</h2>
      <h2 *ngIf="!isDirRTL">His Excellency the Secretary-General / Muhammadi Ahmed Al-Nani</h2>
    
      <div class="img">
        <img src="assets/images/general.webp" alt="">
      </div>
    
      <div class="info">
        <ul class="list-unstyled flex flex-col ai-c gap-15" *ngIf="isDirRTL">
          <li>الاسم : سعادة السفير محمدي احمد الني الامين العام لمجلس الوحدة الاقتصادية </li>
          <li>تاريخ التعيين : 10/6/2021</li>
        </ul>
        <ul class="list-unstyled flex flex-col ai-c gap-15" *ngIf="!isDirRTL">
          <li>Name: His Excellency Ambassador Mohamed Ahmed El-Ni, Secretary-General of the Economic Unity Council</li>
          <li>Appointment date: 6/10/2021</li>
        </ul>
      </div>
    </div>
  </div>
</div>