<div class="main-category-page">
  <div class="container">
    <div class="header">
      <span class="title">{{ isDirRTL ? post?.titleAr : post?.titleEn }}</span>
      <div class="article-header">
        <div class="user">
          <div class="user-img">
            <div class="img">
              <img src="assets/images/User-Profile-PNG.png" alt="">
            </div>
          </div>
          <div class="user-name">{{post?.userName}}</div>
        </div>
        <div class="date">
          <div class="img">
            <img src="assets/images/time.png" alt="">
          </div>
          <span>{{post?.datePublish}}</span>
        </div>
      </div>
    </div>
    <div class="content">
      <p [innerHTML]="isDirRTL ? post?.detailAr : post?.detailEn"></p>
    </div>
  </div>
</div>