<footer class="footer">
  <div class="footer-container">
    <div class="items">
      <div class="logo flex flex-col ai-c">
        <div class="img">
          <img src="assets/images/main_assets/logo.svg" alt="">
        </div>
        <span>مركز التدريب و البحوث و الدراسات</span>
        <span>Training, research and studies Center</span>
      </div>
      <div class="body">
        <p>لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر</p>
      </div>
      <div class="social-media">
        <ul class="list-unstyled flex gap-15">
          <li>
            <a href="#">
              <div class="img">
                <img src="assets/images/icons/instagram.svg" alt="">
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img">
                <img src="assets/images/icons/whatsapp.svg" alt="">
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img">
                <img src="assets/images/icons/facebook.svg" alt="">
              </div>
            </a>
          </li>
          <li>
            <a href="#">
              <div class="img">
                <img src="assets/images/icons/twitter.svg" alt="">
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="d-flex ai-c jc-c gap-30">
    </div> -->
  </div>
  <div class="copyright-box">
    <p>{{'CopyRight' | translate}}</p>
  </div>
</footer>