.flex {
    display: flex !important;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.ac-sb {
    align-content: space-between;
}

.ai-c {
    align-items: center;
}

.ai-fe {
    align-items: flex-end;
}

.ai-fs {
    align-items: flex-start;
}

.flex-item {
    flex-basis: 0;
    flex-grow: 1;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.space-between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.full-width-height {
    width: 100%;
    height: 100%;
}

.auto-width {
    width: auto;
}

.auto-height {
    height: auto;
}

.position-relative {
    position: relative;
}

.transparent-button {
    background: transparent;
    border: none
}

ul {
    padding: 0;
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6, .form-group { margin: 0;}

.img {
    img { width: 100%; height: 100%; }
}

.routerActive {
  color: $mainGreenColor !important;
}

.form-control {
  border-radius: 12px;
  border: 1px solid #767676;
  background: #FFF;
  height: 40px;
  &::placeholder {
    color: #8E8E8E;
  }
}

textarea {
  resize: none;
}

.form-group {
  label {
    color: #454C52;
    font-size: 16px;
    font-weight: 400;
  }
}

.iconic-form-control {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  background: #fff;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
  width: 100%;
  gap: 10px;
  .img {
    width: 24px;
    height: 24px;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
  }
}

.custom-file-upload {
  label.mainLabel {
    color: $mainBlackColor;
    font-weight: 700;
    font-size: 16px;
  }
  .upload-box {
    width: 100%;
    display: flex;
    .upload {
      padding: 10px 14px;
      width: 50%;
      border-radius: 0px 8px 8px 0px;
      background: #F5F7FD;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
      cursor: pointer;
      label {
        margin: 0;
        cursor: pointer;
      }
    }
    .file-info {
      display: flex;
      padding: 10px 14px;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      border-radius: 8px 0px 0px 8px;
      background: #FFF;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
      width: 100%;
      span#file-chosen {
        color: $mainBlackColor;
      }
    }
  }
}

.customCheckboxContainer {
  position: relative;
  /* padding-left: 35px; */
  padding-bottom: 0px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
  color: $mainBlackColor;
  font-weight: 700;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: $mainGreenColor;
      &:after {
        display: block;
      }
    }
  }
  .checkmark {
    position: relative;
    top: 0;
    height: 23px;
    width: 23px;
    border-radius: 6px;
    outline: 4px solid #C5E1C8;
    background-color: #eee;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 10px;
      top: 6px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.container-white-box {
  border-radius: 10px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  padding: 40px;
  .header {
    h5 {
      font-size: 16px;
      color: $mainBlackColor;
      font-weight: 700;
    }
  }
}

.next-stepper {
  button {
    @include mainButton($mainGreenColor, #FFF, 150px, 18px 26px, 8px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
  }
}

.confirmation {
  button {
    @include mainButton($mainGreenColor, #FFF, 225px, 18px 26px, 8px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
  }
}

.previous-stepper {
  button {
    @include mainButton(#FFF, #000, 150px, 18px 26px, 8px);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
  }
}

button.primary-button {
  @include mainButton($mainGreenColor, #FFF, 250px, 18px 26px, 8px);
}