<div class="main-category-page">
  <div class="container">
    <div class="row">
      <!-- [ngClass]="{'col-md-3' : posts.length == 1, 'col-md-3': posts.length == 2, 'col-md-3': posts.length >= 3}" -->
      <div *ngFor="let post of posts"  [ngClass]="{'col-md-5' : posts.length == 1, 'col-md-4': posts.length == 2, 'col-md-3': posts.length >= 3}"class="col-md-3">
        <div class="post">
          <div class="header my-3">

           </div>
          <div class="content">
            <div class="img">
              <img class="rounded" style="height: 300px;" [src]="images+post.url" [alt]="post.id">
              <!-- <img [src]="post.imageUrl" alt=""> -->
            </div>
            <div class="overlay"></div>
            <div class="title" [innerHTML]="isDirRTL ? post?.titleAr : post.titleEn"></div>

          </div>
          <div class="article-details">
            <div class="article-header">
              <div class="user">
                <div class="user-img">
                  <div class="img">
                    <img src="assets/images/User-Profile-PNG.png" alt="">
                  </div>
                </div>
                <div class="user-name">{{post?.userName}}</div>
              </div>
              <div class="date">
                <div class="img">
                  <img src="assets/images/time.png" alt="">
                </div>
                <span>{{post?.datePublish | date:"HH:mm yyyy-MM-dd "}}</span>
              </div>
            </div>
            <div class="article-content">
              <p>{{article?.details}}</p>
            </div>
            <div class="article-footer">
              <button class="readMore" [routerLink]="'/category/' + post.id + '/details'">{{'ReadMe' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
